@import "generic/reset.scss";

@import"settings/fonts";
@import "settings/colors";
@import "settings/buttons";
@import "settings/mixins";

// ----------ELEMENTS

@import "elements/base";
@import "elements/header";

   p{
      font-size: 50px;
      font-family: $font-heebo;
      color:$color-primary;
   }

   *{
      border: 1px solid red;
   }