.design-dashboards {
   display: flex;
   
   &__container {
      border: 1px solid red;
      padding: 5rem 0 1.68rem;
   
   }

   &__content {
      padding: 0 5rem;
      @include mobile{
         padding: 1rem;
      }
      @include small{
         padding: 0.3rem;
      }
   }
}

.article {
   display: flex;
   flex-direction: column;
   @include mobile{
      display: block;
   }
   
   &__title {
      font-size: 2.125rem;
      line-height: 3.125rem;
      padding-bottom: 1.875rem;
      @include mobile{
         font-size: 1.875rem;
         line-height: 2.5rem;
         padding-bottom: 1.4rem;

      }


   }

   &__info {
      color:$color-dark;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.8rem;
      display: flex;

      span{
         @include mobile{
            height: 100%;
         }
         display: block;
         color:$color-white;
         font-weight: 900;
         font-size: 1.125rem;
         background-color:$color-primary;
         padding: 0 0.6rem;
         border-radius: 1rem;
         margin: 0 1.625rem 0 0;
      }
   }



   &__text {
      padding: 1.5rem 0 1.25rem; 
   
   }

   &__image {
      img{
         width:100%;
         padding: 1.25rem 0;
         @include mobile{
            width: 100%;
            padding: 0;
         }  
     }
   }
}
